[Desktop Entry]
Name=TobiXu Órbita Noche
Name[en]=TobiXu Orbit Night
Type=Service
X-KDE-ServiceTypes=Plasma/Wallpaper
X-KDE-PluginInfo-Name=TobiXu-Orbita-Noche
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-EnabledByDefault=true
