[SddmGreeterTheme]
Name=Tobi Xu Iguana Noche
Description=Puerta selva de Tobi Xu
Author=Manuel + Qwen3.8
License=CC-BY-SA-4.0
Type=sddm-theme
Version=0.4
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=
Screenshot=preview.png
Theme-Id=tobixu
Theme-API=2.0
QtVersion=6
